payment-processor-demo/src/main/resources/schema/payment-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="originator"/>
        <xs:element type="xs:string" name="beneficiary"/>
        <xs:element type="xs:byte" name="amount"/>
        <xs:element type="xs:string" name="currency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>